<header>
  <h1>Pok A Tok</h1>
    <nav>
      <ul>
        <li>
          <a href="index.html" {%if file.frontMatter.title=='Home'  %} class="link active" {% endif %}>Home</a>
        </li>
        <li>
          <a href="competition.html" {%if file.frontMatter.title=='Competition' %} class="link active" {% endif %}>Competition</a>
        </li>
        <li>
          <a href="winners.html" {%if file.frontMatter.title=='Winners' %} class="link active" {% endif %}>Winners</a>
        </li>
        <li>
            <a href="events.html" {%if file.frontMatter.title=='Events'  %} class="link active" {% endif %}>Events</a>
          </li>
      </ul>
    </nav>
  </header>