<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{file.frontMatter.title | upper}}</title>
    <link href="css/styles.css" rel="stylesheet" />
    <script src="styles.js" type="application/javascript"></script>
</head>

<body>
    {% include "app/header.html" %}
  
    {% block main %}Default content{% endblock %}
    </main>
    <footer>
      Copyright &copy; 2019
    </footer>
  </body>
</html>