$fonts: Verdana, Arial, sans-serif;
$prim: tan;
$sec: navy;
@font-face {
    font-family: 'maya';
    src: url('Mayan.ttf');
}

body {
    font-family: $fonts;
    background-color: $prim;
    margin: 0;
    padding: 0;
    width: 95%;
    max-width: 960px;
    min-width: 660px;
    margin: 0 auto;
    line-height: 1.5;
}

body > header > nav { 
    width: 100%;
    overflow: auto;
    position: relative;
}

nav > ul {
    margin: 0;
    padding: 0;

}
body > header > nav li {
    display: block;
    background-color: $sec;
    text-align: center;
    float: left;
    width: 25%;
    line-height: 2;
    font-weight: bold;
    list-style-type: none;
    color: white;
}

body > header > h1 {
    text-align: center;
    font-family: maya;
    line-height: 2;
    font-size: 3em;
    width: 100%;
}

footer {
    display: block;
    background-color: $sec;
    margin: 0;
    padding: 0;
    width: 100%;
    line-height: 2;
    text-align: center;
    color: white;
}

body > article { 
    background-color: white;
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 2;
    overflow: hidden;
}

body > div{
    background-color: white;
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 2;
    overflow: hidden;
}

article h1, p {
    margin: 1%;
}

table {
    border-collapse: collapse;
    margin: 1%;
    padding: 1%;
}

td {
    border: 1px solid #ddd;
}

tr:nth-child(even){
    background-color: beige;
}

th {
    background-color: beige;
}

img {
    display: block;
    width: 100%;
}

nav li:active {
    background-color: white;
    color: black;
}

nav li a {
    color: white;
    list-style-type: none;
    text-decoration: none;
}

nav li a:active {
    color: black;
    list-style-type: none;
    text-decoration: none;
}

.active {
    background-color: white;
    color: black;
    padding: 1%
}

.row > .column {
    padding: 0;
}

.row:after {
    display: table;
    clear: both;
}

.column {
    margin-top: 2em;
    margin-bottom: 2em;
    float: left;
    width: 20%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    margin-bottom: 100px;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
  }

  .modal-content {
    position: relative;
    background-color: black;
    margin: auto;
    padding-bottom: 10px;
    width: 70%;
    max-width: 1200px;
  }

  .modal-content > img {
      margin: 10px;
  }

  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }

  .close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

  .prev,
.next {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white;
  }

  img.demo {
    opacity: 0.6;
  }

  .active,
.demo:hover {
  opacity: 1;
}

.mySlides {
    margin-bottom: 10px;
}